@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 125%;
  background-color: #012439;
}
html body {
  font-family: "Noto Sans", sans-serif;
}
html body h1,
html body p,
html body button {
  color: #BFD7EA;
}
html .wrapper {
  width: 80%;
  margin: 0 auto;
}

.header h1 {
  text-align: center;
  font-size: 3.2rem;
}

.welcome-message {
  text-align: center;
}

.form-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border: 8px solid #4d9d7f;
  border-radius: 20px;
  padding: 50px 0;
  background-color: #A2D3C2;
  color: #012439;
}
.form-container button {
  background-color: #4d9d7f;
  color: #012439;
  border: 3px solid #012439;
  border-radius: 25px;
  padding: 5px 15px;
  margin: 20px;
  transition: 0.5s;
  font-weight: 700;
}
.form-container button:hover {
  background-color: #012439;
  color: #4d9d7f;
  border: 3px solid #4d9d7f;
  transition: 0.5s;
}
.form-container input {
  padding: 5px 0 5px 0;
  border: 1px solid;
  text-align: center;
  background-color: #BFD7EA;
  font-weight: 700;
}
.form-container .form-text {
  color: #012439;
}
.form-container .city-name {
  font-weight: 700;
}

footer {
  text-align: center;
}
footer .name:hover {
  font-weight: 700;
}

@media (max-width: 804px) {
  .form-container input {
    margin: 20px auto 0 auto;
  }
}
@media (max-width: 520px) {
  .form-container input {
    width: 225px;
  }
}
@media (max-width: 520px) {
  .form-container input {
    width: 200px;
  }
}
@media (max-width: 350px) {
  .header h1 {
    font-size: 2.8rem;
  }
  .form-container input {
    width: 175px;
  }
}/*# sourceMappingURL=App.css.map */